<% provide(:title, 'How to Play') %>
<div class="block2">
  	<div class="container_12">
    	<section class="content">
      		<div class="wrapper projects">
        		<div class="hello_box"> How to Play in PolicyOracle</div>
      	  		<div class="panel-group" id="accordion">
		  			<div class="panel panel-default">
		    			<div class="panel-heading">
		      				<h4 class="panel-title">
		        				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		          					What are Information Markets (IMs)?
		        				</a>
		      				</h4>
		    			</div>
					    <div id="collapseOne" class="panel-collapse collapse in">
						     <div class="panel-body">
						        In general, the concept of information markets is to provide a mechanism for players to "put their money where their mouth is" over a future event. 
								If the market proves efficient and provides the right incentives, then the theory 
								argues that the collective bets of "the crowd" will be a more intelligent and 
								accurate prognosticator of future events than individual "know it all" experts.
						    </div>
					    </div>
					</div>
		  			<div class="panel panel-default">
		    			<div class="panel-heading">
		      				<h4 class="panel-title">
		        				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		          					What is the PolicyOracle ?
		        				</a>
		      				</h4>
		    			</div>
		    			<div id="collapseTwo" class="panel-collapse collapse">
		      				<div class="panel-body">
		        				The PolicyOracle is an information market.
								Your goal as a player is to estimate which will be the potential outcome of a future event. Each future event is represented as a question.
								Predictions are made by buying virtual contracts in outcomes you think are going to boom, and selling them when you think these outcomes are going to touch ground.
	            				Your goal is to foresee trends ahead of the crowd: to invest in the outcomes that 
	            				have low possibilities relative to their potential. If, over time, 
	            				your predictions have greater possibilities than other players' predictions, your fantasy fortune will grow.
	            				As a player, you contribute to the collective "wisdom of crowds" as the marketplace 
	            				as a whole converges on a common vision of the future of the events.
		      				</div>
		    			</div>
		  			</div>
					<div class="panel panel-default">
					    <div class="panel-heading">
					     	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					          		What is a contract?
					        	</a>
					      	</h4>
					    </div>
					    <div id="collapseThree" class="panel-collapse collapse">
					      	<div class="panel-body">
					        	Each competing answer in a question is represented by a contract. 
					      	</div>
					    </div>
					</div>		  			
					<div class="panel panel-default">
					    <div class="panel-heading">
					     	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
					          		How to I trade?
					        	</a>
					      	</h4>
					    </div>
					    <div id="collapseFour" class="panel-collapse collapse">
					      	<div class="panel-body">
					        	In order to trade click on the "Browse Question" button on the top menu. A list of active  & inactive questions will be presented. Select the active question that interests you by clicking on its name.
								The possible outcomes contained in the selected question are then presented. Select the one you wish to buy by clicking on its name and buy as many shares as your opinion strength! You'll immediately see the prediction change in the in this question's contract based on your input. Of course other people making predictions will change the possibilities too.
					      	</div>
					    </div>
					</div>
					<div class="panel panel-default">
					    <div class="panel-heading">
					     	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
					          		How the price algorithm works?
					        	</a>
					      	</h4>
					    </div>
					    <div id="collapseFive" class="panel-collapse collapse">
					      	<div class="panel-body">
					        	PolicyOracle feature a Continuous Doubla Auction with Market Maker (CDAwMM) trading mechanism, which will serve traders to freely buy and sell virtual shares in automated computed prices. For a trader's perspective, PolicyOracle is always the buyer and seller of shares, depending on the case, without any limit to the quantity of the shares. The main guidelines and principles of PolicyOracle's design arise from research by Prof. Robin Hanson at George Mason University.
					      	</div>
					    </div>
					</div>			
					<div class="panel panel-default">
					    <div class="panel-heading">
					     	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
					          		How do I sell a contract?
					        	</a>
					      	</h4>
					    </div>
					    <div id="collapseSix" class="panel-collapse collapse">
					      	<div class="panel-body">
					        	In order to sell a contract, click on YourUsername > Portfolio button to view the number of shares you own. Below of each contract name, there is the "Cash Out" button. Click and sell as many shares of your already purchased ones.
					      	</div>
					    </div>
					</div>
					<div class="panel panel-default">
					    <div class="panel-heading">
					     	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
					          		How can I monitor my holdings?
					        	</a>
					      	</h4>
					    </div>
					    <div id="collapseSeven" class="panel-collapse collapse">
					      	<div class="panel-body">
					        	Click on YourUsername > Portfolio button to view the contracts you own. PolicyOracle stores all relevant information about the quantity of shares you have purchased and in which amount. Moreover, you may also observe the current possibility of this contract as well as the profit or loss you have.
					      	</div>
					    </div>
					</div>
					<div class="panel panel-default">
					    <div class="panel-heading">
					     	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
					          		How can I monitor my trading history?
					        	</a>
					      	</h4>
					    </div>
					    <div id="collapseEight" class="panel-collapse collapse">
					      	<div class="panel-body">
					        	Click on YourUsername > Portfolio button and click on the "Trade History" tab. PolicyOracle stores all relevant information about the quantity of shares you have purchased or sold in each transaction, the amount you spent or gained and the date that the transaction took place. 
					      	</div>
					    </div>
					</div>
					<div class="panel panel-default">
					    <div class="panel-heading">
					     	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
					          		How can I monitor my bank history?
					        	</a>
					      	</h4>
					    </div>
					    <div id="collapseNine" class="panel-collapse collapse">
					      	<div class="panel-body">
					      		When a question ends and the outcome of this question is known and made public, traders who answered correctly will be rewarded. For each correct share, the trader will be paid 1 point. In order to monitor gains and losses from inactive forecasts, you may click on YourUsername > Portfolio button and click on the "Bank History" tab. 
					      	</div>
					    </div>
					</div>										
					<div class="panel panel-default">
					    <div class="panel-heading">
					     	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
					          		What is the purpose of the PolicyOracle IM?
					        	</a>
					      	</h4>
					    </div>
					    <div id="collapseTen" class="panel-collapse collapse">
					      	<div class="panel-body">
					        	The PolicyOracle is part of the european research project <a href="http://projectsymphony.eu/" target="blank"> SYMPHONY</a>. 
								The main purpose of this IM is to aggregate and interpret stakeholders' and citizens' opinions and expectations in order to improve public decision-making about problems of global relevance spanning from social, economic, financial, to ecological matters.
					      	</div>
					    </div>
					</div>

				</div>
	  		</div>
		</section>
  	</div>
</div>
