<% provide(:title, 'How to Play') %>
<div class="block2">
  	<div class="container_12">
    	<section class="content">
      		<div class="wrapper projects">
        		<div class="hello_box"> How to Play in PolicyOracle</div>
      	  		<div class="panel-group" id="accordion">
		  			<div class="panel panel-default">
		    			<div class="panel-heading">
		      				<h4 class="panel-title">
		        				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		          					What are Information Markets (IMs)?
		        				</a>
		      				</h4>
		    			</div>
					    <div id="collapseOne" class="panel-collapse collapse in">
						     <div class="panel-body">
						        In general, the concept of information markets is to provide a mechanism for players to "put their money where their mouth is" over a future event. 
								If the market proves efficient and provides the right incentives, then the theory 
								argues that the collective bets of "the crowd" will predict more accurately the future events than individual "know it all" experts.
						    </div>
					    </div>
					</div>
		  			<div class="panel panel-default">
		    			<div class="panel-heading">
		      				<h4 class="panel-title">
		        				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
		          					What is the PolicyOracle ?
		        				</a>
		      				</h4>
		    			</div>
		    			<div id="collapseTwo" class="panel-collapse collapse">
		      				<div class="panel-body">
		        				The PolicyOracle is an information market.
								Your goal as a player is to estimate the potential outcome of a future event. Each future event is represented as a question.
								Predictions are made by buying virtual shares of the outcomes you think are going to boom, and selling them when you think these outcomes are going to touch ground.
	            				Your goal is to foresee trends ahead of the crowd: to invest in the outcomes that 
	            				have low probabilities relative to their potential. If your predictions win, your fantasy fortune will grow.
	            				As a player, you contribute to the collective "wisdom of crowds" as the marketplace 
	            				as a whole converges on a common vision of the future of the events.
		      				</div>
		    			</div>
		  			</div>	  			
					<div class="panel panel-default">
					    <div class="panel-heading">
					     	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					          		How do I buy shares?
					        	</a>
					      	</h4>
					    </div>
					    <div id="collapseThree" class="panel-collapse collapse">
					      	<div class="panel-body">
					        	In order to trade click on the "Questions" button on the top menu. A list of active questions will be presented. Select the question that interests you by clicking on its name.
								The possible outcomes concerning the selected question are then presented. Select the one you wish to bet on by clicking on its name and buy shares according to your opinion strength! You'll immediately see the prediction change in this question's outcomes based on your input. Of course, other people making predictions will change the possibilities, too.
					      	</div>
					    </div>
					</div>
					<div class="panel panel-default">
					    <div class="panel-heading">
					     	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
					          		How do I sell my shares?
					        	</a>
					      	</h4>
					    </div>
					    <div id="collapseFour" class="panel-collapse collapse">
					      	<div class="panel-body">
					        	In order to sell your shares, you have two options:
					        	If you want to liquidate your total holding shares: click on the Portfolio button to view the number of shares you own. Below of each question name, there is the "Sell" button, where you can also be informed about your current profit or loss.
					        	If you want to sell a portion of your holding shares: Select the question in which you have made already a forecast, click on the answer that you have invested in and enter the amount of shares that you would like to cash out.
					      	</div>
					    </div>
					</div>
					<div class="panel panel-default">
					    <div class="panel-heading">
					     	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
					          		How does the price algorithm work?
					        	</a>
					      	</h4>
					    </div>
					    <div id="collapseFive" class="panel-collapse collapse">
					      	<div class="panel-body">
					        	PolicyOracle features a Continuous Double Auction with Market Maker (CDAwMM) trading mechanism, serving traders to freely buy and sell virtual shares in automated computed prices. From a trader's perspective, PolicyOracle is always the buyer and seller of shares without any limit to the quantity of the shares. 
					      	</div>
					    </div>
					</div>			
					<div class="panel panel-default">
					    <div class="panel-heading">
					     	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
					          		How can I monitor my shares?
					        	</a>
					      	</h4>
					    </div>
					    <div id="collapseSix" class="panel-collapse collapse">
					      	<div class="panel-body">
					        	Click on Portfolio button to view the shares you own. PolicyOracle records all relevant information about the quantity of shares you have purchased and in which amount. Moreover, you may also observe the current possibility of this outcome as well as the profit or loss you may have.
					      	</div>
					    </div>
					</div>
					<div class="panel panel-default">
					    <div class="panel-heading">
					     	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
					          		How can I monitor my transactions?
					        	</a>
					      	</h4>
					    </div>
					    <div id="collapseSeven" class="panel-collapse collapse">
					      	<div class="panel-body">
					        	Click on Portfolio button and click on the "Trade History" tab. PolicyOracle records all relevant information about the quantity of shares you have purchased or sold in each transaction, the relevant cost and the date that the transaction took place. 
					      	</div>
					    </div>
					</div>
					<div class="panel panel-default">
					    <div class="panel-heading">
					     	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
					          		How can I monitor my balance?
					        	</a>
					      	</h4>
					    </div>
					    <div id="collapseEight" class="panel-collapse collapse">
					      	<div class="panel-body">
					        	Click on Portfolio button and click on the "Balance History" tab. PolicyOracle records all relevant information about your profit or loss when the question ends and the correct answer is known. 
					      	</div>
					    </div>
					</div>									
					<div class="panel panel-default">
					    <div class="panel-heading">
					     	<h4 class="panel-title">
					        	<a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
					          		What is the purpose of the PolicyOracle IM?
					        	</a>
					      	</h4>
					    </div>
					    <div id="collapseNine" class="panel-collapse collapse">
					      	<div class="panel-body">
					        	The PolicyOracle is part of the european research project <a href="http://projectsymphony.eu/" target="blank"> SYMPHONY</a>. 
								The main purpose of this IM is to aggregate and interpret stakeholders' and citizens' opinions and expectations in order to improve public decision-making about problems of global relevance spanning from social, economic, financial, to ecological matters.
					      	</div>
					    </div>
					</div>
				</div>
	  		</div>
		</section>
  	</div>
</div>
