<% provide(:title, 'Player Manual') %>
<div class="block2">
  	<div class="container_12">
    	<section class="content">
      		<div class="wrapper projects">
        		<div class="hello_box"> Player Manual </div>
				<p> This is page is under development </p>
	  		</div>
		</section>
  	</div>
</div>