<% if contract.market.status? %>
	<div class="grid_3"  >
	    <p class="show_answers"><%= contract.name %></p>
	</div>
	<div class="grid_3" >
	    <p class="show_answers"><%= contract.current_price.round(4)*100%>%</p>
	</div>
<% else %>
	<% if contract.market.correct_contract_id == contract.id %>
		<div class="grid_3"  >
	    	<p class="show_answers"><%= contract.name %></p>
		</div>
		<div class="grid_3" >
	    	<p class="show_answers"><%= contract.current_price.round(4)*100%>%</p>
		</div>
	<% end %>
<% end %>
