<div class="borderbottom">
    <div class="grid_3"  >
        <p style="margin-top:0; margin-bottom:0; font-size:13px; color:"><%= contract.name %></p>
    </div>
    <div class="grid_3" >
        <p style="margin-top:0; margin-bottom:0; font-size:13px"><%= contract.current_price.round(4)*100%></p>
    </div>
</div>
<br>
