<% if contract.market.status? %>
	<div class="grid_3"  >
	    <p style="margin-top:0; margin-bottom:0; font-size:13px;"><%= contract.name %></p>
	</div>
	<div class="grid_3" >
	    <p style="margin-top:0; margin-bottom:0; font-size:13px"><%= contract.current_price.round(4)*100%>%</p>
	</div><br><br>
<% else %>
	<% if contract.market.correct_contract_id == contract.id %>
		<div class="grid_3"  >
	    	<p style="margin-top:0; margin-bottom:0; font-size:13px;"><%= contract.name %></p>
		</div>
		<div class="grid_3" >
	    	<p style="margin-top:0; margin-bottom:0; font-size:13px"><%= contract.current_price.round(4)*100%>%</p>
		</div>
	<% end %><br>
<% end %>
