<% if contract.market.correct_contract_id.blank? %>
	<div class="row">
		<div class="grid_3"  >
		    <h4 class="show_possible_answers"><%= contract.name %></h4>
		</div>
		<div class="grid_3" >
		    <h4 class="show_possible_answers"><%= contract.current_price.round(4)*100 %></h4>
		</div>
	</div>
<% else %>
	<% if contract.market.correct_contract_id == contract.id %>
		<div class="row">
			<div class="grid_3"  >
		    	<h4 class="show_possible_answers"><%= contract.name %></h4>
			</div>
			<div class="grid_3" >
		    	<h4 class="show_possible_answers"><%= contract.current_price.round(4)*100 %></h4>
		</div>
	<% end %>
<% end %>
