<% @market.contracts.each do |contract| %>
    <div class="grid_7 contract">
    	<article class="grid_3" style="margin:0" >
        	<h3 class="mchoice"><%= contract.name %></h3>
        </article>
        <article class="grid_1" style="margin:0" >
        	   <h3 class="mchoice"><%= contract.current_price.round(2)*100%>%</h3>
    	</article>
         <% if signed_in?%>
            <article class="grid_3 transaction" style="text-align:right; margin:0">
                <%= render partial:'shared/utransaction_mchoice_form', :locals => { :contract => contract} %>
            </article>
        <% end %>
    </div>
<% end %>
