<% provide(:title, 'New Contract') %>
<div class="hireus_block">
  	<div class="container_12">
    	<section class="">
      		<div class="wrapper">
      			<h2><%= @market.name %></h2>
				<h3>New contract</h3>

				<%= render 'form' %>

			</div>
		</section>
	</div>
</div>