<%= form_for(@market, url: after_close_market_contracts_path(:market_id => @market), method: :post) do |f| %>
  <% @contracts.each do |contract| %>
    <div class="row clearfix" type="radio" style="margin-left:10px">
      <%= radio_button_tag("correct_id", contract.id) %>
      <%=   f.label( :contract, contract.name)  %>
    </div> 
  <% end %>
  <div class="row clearfix" style="margin-left:10px">
    <%= f.submit "Submit", class: "btn-sample", style: "width: 10%" %>
  </div>
<% end %> 