<li> 
	<h2><%= link_to market.name, market, :class => "two" %></h2>
	<%= link_to 'Show possible answers', '#', class: 'button-grey small secondary message_button', 
	id: "message_button_" %><br>
</li>
