<% provide(:title, 'Edit') %>
<div class="block2">
  	<div class="container_12">
    	<section class="">
      		<div class="wrapper">
      			<div class="hello_box"> Editing Question</div>

				<%= render 'editform' %>

				<%= link_to 'Back', markets_path %>
			</div>
		</section>
	</div>
</div>
