<% provide(:title, 'All Markets') %>
<div class="hireus_block">
  <div class="container_12">
    <section class="">
      <div class="wrapper">
        <h2>Listing forecasts</h2>
        
        <br></br>
        <ul class="markets">
          <%= render @markets %>
        </ul>
       
        <br></br>

        <% if signed_in? && current_user.admin? %>
          <%= link_to 'New Market', new_market_path %>
        <% end %>
      </div>
    </section>
  </div>
</div>

