<% provide(:title, 'New Market') %>
<div class="block2">
  	<div class="container_12">
    	<section class="">
      		<div class="wrapper">
        		<article class="grid_12 last-col">
          			<div class="hello_box">Create a new Question</div>
        		
					<%= render 'form' %>


				</article>
			</div>
		</section>
	</div>
</div>

