<% provide(:title, 'Politics') %>
<div class="block2">
  <div class="container_12">
    <section class="content">
        <div class="row clearfix">
          	<div class="hello_box">Listing Forecasts about Politics</div>
          	    <article class="grid_10">
            		<ul class="blog_pagination">

						<%= render @markets %><br>

					</ul>
				</article>
			</div>
		</div>
		</section>
	</div>
</div>